.ui.segment {
    margin-top: 50px;
}

.blog {
    border: 2px solid violet;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.blog img {
    max-width: 400px;
    display: block;
}

div.content {
    color:grey;
}
